.h1 {
  @apply font-sans;
  @apply font-bold;
  @apply leading-tight;

  font-size: 34px;

  @screen md {
    font-size: 48px;
  }
}

.h2 {
  @apply font-sans;
  @apply leading-tight;
  @apply font-bold;

  font-size: 24px;

  @screen md {
    font-size: 34px;
  }
}

.h3 {
  @apply font-sans font-bold;

  font-size: 24px;
}

.h4 {
  @apply font-sans;
  @apply font-bold;

  font-size: 20px;
}

.h5-2 {
  @apply font-sans;
  @apply font-medium;
  @apply text-xl;
  @apply leading-tight;
}

.subhead {
  @apply text-lg;

  @screen md {
    font-size: 22px;
  }
}

.label-large {
  @apply font-sans;
  @apply font-medium;

  font-size: 40px;
}

.small-subhead-bold {
  @apply font-bold;
  @apply text-lg;
}

.eyebrow-small {
  @apply font-mono;
  @apply uppercase;
  @apply font-bold;

  font-size: 11px;
  line-height: 12px;
}

.eyebrow-large {
  @apply font-mono uppercase font-bold;

  font-size: 15px;
  line-height: 17px;
}

.mono-heading {
  @apply font-mono;
  @apply uppercase;
  @apply font-bold;

  letter-spacing: 1px;
}

.button-text {
  @apply font-mono uppercase font-bold tracking-widest;
}

.caption-small {
  font-size: 13px;
  line-height: 15.6px;
}