@import './vars';
@import './fonts';

html {
  font-size: 16px; // rem base
}

html,
body {
  margin: 0;
  padding: 0;

  @apply font-serif;
}

body {
  @apply text-lg;
  @apply antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import './layout';
@import './typography';
